body{background-color: #8ca7b4;text-align: justify;font-size: 18px;}
h1{text-align: center;background-color: #c9dde6;}
h3{text-align: justify;color: #779aa9;}
b{color: #293d45;font-size: 18px;}
i{color: #10232b; font-size: 18px;}
header,footer{background-color: #182328;}